{% extends "base.html" %}
{% load static  %}

{% block title %}
	Anemia Niño - G
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styleVaccine.css' %}">
{% endblock styles %}

{% block content %}

<div id="appAnemia">
    <div class="page-title">
        <div class="col-md-11 mb-2">
            <b class="font-18">Seguimiento de Niños y Niñas con Dx Anemia - <span id="nameMonth" class="text-dark"></span></b>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 mb-3">
        <div class="col-md-6 p-0">
            <form method="POST" @submit.prevent="formAnemia">
                {% csrf_token %}
                <div class="col-sm-4 pt-1 pl-0">
                    <select class="form-control-sm w-100" name="eess" id="eess" v-select2="''">
                        <option value="TODOS">- Seleccione eess -</option>
                        {% for eess in establecimiento %}
                            <option value="{{ eess.codigo }}">{{ eess.nombre }}</option>
                        {% endfor %}
                        <option value="TODOS" selected>TODOS</option>
                    </select>
                </div>
                <div class="col-sm-4 pt-1 pl-0">
                    <select class="form-control-sm w-100" name="anio" id="anio" v-model="anio">
                        <option value="0" selected>Seleccione Año</option>
                    </select>
                </div>
                <div class="col-sm-4 pt-1 pl-0">
                    <select class="form-control-sm w-100" name="mes" id="mes" v-model="mes">
                        <option value="0" selected>Seleccione Mes</option>
                    </select>
                </div>
                <div class="col-sm-4 pt-2 pl-0">
                    <select class="form-control-sm w-100" name="tipo" id="tipo">
                        <option value="0">Seleccione Edad</option>
                        <option value="MENOR1">MENOR 1 AÑO</option>
                        <option value="ONEYEAR">1 AÑO</option>
                        <option value="TWOYEAR">2 AÑOS</option>
                        <option value="TODOS" selected>TODOS</option>
                    </select>
                </div>
                <div class="col-md-4 pt-2 pl-0">
                    <button class="btn btn-primary btn-block btn-sm" id="search" type="submit"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </form>
        </div>
        <div class="col-md-1 text-center mt-1 pl-0">
            <button class="btn btn-sm btn-outline-success font-13" @click="PrintExcelRn"> Descargar</button>
            <button class="btn btn-sm btn-outline-danger font-13" data-toggle="modal" data-target=".ModalInformacion"> Resumen</button>
        </div>
        <div class="col-md-5 mt-1">
            <div class="col-md-4 pr-0" v-for="data, key in listTotProv">
                <div class="x_panel p-1 box-shadow-4">
                    <div class="text-center align-items-center mb-2 mt-2">
                        <div class="row justify-content-center">
                            <img class="col-md-5 pr-0" :src="'/static/img/' + data.provincia + '.png'"  alt="Imagen mapa">
                            <h5 class="mb-2 mt-2 col-md-6 p-0 avance_dac text-dark">
                                [[ data.total ]]
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="x_panel p-2">
            <div class="table-responsive nominalTable" id="tableNominal">
                <table id="demo-foo-addrow" class="table table-hover" data-page-size="20" data-limit-navigation="10">
                    <thead>
                        <tr class="font-10 text-center">
                            <th class="align-middle p-1">#</th>
                            <th class="align-middle p-1">Centro Asistencial</th>
                            <th class="align-middle p-1">Documento</th>
                            <th class="align-middle p-1">Apellidos y Nombres</th>
                            <th class="align-middle p-1">Fecha Nacido</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Dosaje1</th>
                            <th class="align-middle p-1" style="background: #c7f0d8 !important;">Resultado1</th>
                            <th class="align-middle p-1" style="background: #f0e6c7 !important;">Dosaje2</th>
                            <th class="align-middle p-1" style="background: #f0e6c7 !important;">Resultado2</th>
                            <th class="align-middle p-1" style="background: #f0c7e6ad !important;">Dx Anemia1</th>
                            <th class="align-middle p-1" style="background: #f0c7e6ad !important;">Dx Anemia2</th>
                            <th class="align-middle p-1" style="background: #c7dbf0 !important;">Nutrición 1</th>
                            <th class="align-middle p-1" style="background: #c7dbf0 !important;">Nutrición 2</th>
                            <th class="align-middle p-1" style="background: #c7dbf0 !important;">Nutrición 3</th>
                            <th class="align-middle p-1" style="background: #c7dbf0 !important;">Nutrición 4</th>
                            <th class="align-middle p-1" style="background: #c7dbf0 !important;">Nutrición 5</th>
                            <th class="align-middle p-1" style="background: #c7dbf0 !important;">Nutrición 6</th>
                        </tr>
                    </thead>
                    <div class="float-right col-md-3 p-0">
                        <div class="col-md-12 col-sm-12 form-group has-feedback pr-0">
                            <input id="demo-input-search" class="form-control has-feedback-left" type="search" placeholder="Buscar...">
                            <span class="glyphicon glyphicon-search form-control-feedback left mt-1" aria-hidden="true"></span>
                        </div>
                    </div>
                    <tbody>
                        <tr class="text-center font-9" v-for="item, key in listNomAnemia">
                            <td class="align-middle p-1">[[ key+1 ]]</td>
                            <td class="align-middle p-1">[[ item.fields.establecimiento ]]</td>
                            <td class="align-middle p-1">[[ item.fields.documento ]]</td>
                            <td class="align-middle p-1">[[ item.fields.ape_nombres ]]</td>
                            <td class="align-middle p-1">[[ item.fields.fec_nac ]]</td>
                            <td class="align-middle p-1">[[ item.fields.dosaje1 ]]</td>
                            <td class="align-middle p-1">[[ item.fields.result1 ]]</td>
                            <td class="align-middle p-1">[[ item.fields.dosaje2 ]]</td>
                            <td class="align-middle p-1">[[ item.fields.result2 ]]</td>
                            <td class="align-middle p-1">[[ item.fields.dx_anemia1 ]]</td>
                            <td class="align-middle p-1">[[ item.fields.dx_anemia2 ]]</td>
                            <template v-if="item.fields.nutricion6 < item.fields.dx_anemia1">
                                <td class="align-middle p-1" style="color: red;">[[ item.fields.nutricion6 ]]</td>
                            </template>
                            <template v-else><td class="align-middle p-1">[[ item.fields.nutricion6 ]]</td></template>
                            <template v-if="item.fields.nutricion7 < item.fields.dx_anemia1">
                                <td class="align-middle p-1" style="color: red;">[[ item.fields.nutricion7 ]]</td>
                            </template>
                            <template v-else><td class="align-middle p-1">[[ item.fields.nutricion7 ]]</td></template>
                            <template v-if="item.fields.nutricion8 < item.fields.dx_anemia1">
                                <td class="align-middle p-1" style="color: red;">[[ item.fields.nutricion8 ]]</td>
                            </template>
                            <template v-else><td class="align-middle p-1">[[ item.fields.nutricion8 ]]</td></template>
                            <template v-if="item.fields.nutricion9 < item.fields.dx_anemia1">
                                <td class="align-middle p-1" style="color: red;">[[ item.fields.nutricion9 ]]</td>
                            </template>
                            <template v-else><td class="align-middle p-1">[[ item.fields.nutricion9 ]]</td></template>
                            <template v-if="item.fields.nutricion10 < item.fields.dx_anemia1">
                                <td class="align-middle p-1" style="color: red;">[[ item.fields.nutricion10 ]]</td>
                            </template>
                            <template v-else><td class="align-middle p-1">[[ item.fields.nutricion10 ]]</td></template>
                            <template v-if="item.fields.nutricion11 < item.fields.dx_anemia1">
                                <td class="align-middle p-1" style="color: red;">[[ item.fields.nutricion11 ]]</td>
                            </template>
                            <template v-else><td class="align-middle p-1">[[ item.fields.nutricion11 ]]</td></template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- modal de resumen -->
    <div class="modal fade ModalInformacion" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dxAnemia" role="tab" aria-controls="home" aria-selected="true">Dx Anemia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#entHierro" role="tab" aria-controls="profile" aria-selected="false">Entrega de Hierro</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="dxAnemia" role="tabpanel" aria-labelledby="home-tab">
                            <div class="table-responsive nominalTable p-3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="font-10 text-center" style="background: #c7d2f0;">
                                            <th class="align-middle p-1">#</th>
                                            <th class="align-middle p-1">Establecimiento</th>
                                            <th class="align-middle p-1">Menor 1 Año</th>
                                            <th class="align-middle p-1">1 Año</th>
                                            <th class="align-middle p-1">2 Años</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center font-10" v-for="data, key in listeessDx">
                                            <td class="align-middle p-1">[[ key+1 ]]</td>
                                            <td class="align-middle p-1 text-left">[[ data.establecimiento ]]</td>
                                            <td class="align-middle p-1">[[ data.menor ]]</td>
                                            <td class="align-middle p-1">[[ data.oneyear ]]</td>
                                            <td class="align-middle p-1">[[ data.twoyear ]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="entHierro" role="tabpanel" aria-labelledby="profile-tab">
                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk aliquip
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="{% static 'vue/anemia.js' %}"></script>
<script src="{% static 'js/anemia.js' %}"></script>

{% endblock scripts %}