{% extends "base.html" %}
{% load static  %}

{% block title %}
	Essalud G
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styleLineTime.css' %}">
<style>
    .hr-line {
    border-top: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(90deg, White, DimGrey, White) border-box;
    }

    h4 {
    color: #454646 !important;
    }

    p.intro {
    font-size: 24px;
    text-align: center;
    }

    .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 1450px !important;
    container-type: inline-size;
    container-name: timeline;
    }

    .main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    }

    p.year {
    display: block;
    font-weight: 800 !important;
    font-size: 30px;
    color: #232323;
    margin: 0px 30px;
    }

    p.description {
    font-weight: 200;
    font-size: 15px;
    }

    .order_1 {
    order: 3;
    }

    .order_2 {
    order: 2;
    left: 10px;
    }

    .order_3 {
    order: 1;
    }

    .main-timeline .icon {
    width: 18px;
    height: 18px;
    position: relative;
    right: 8px;
    }

    .main-timeline .icon:before,
    .main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    }

    .main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px;
    }

    .main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px;
    }

    .main-timeline .date-content {
    width: 50%;
    position: relative;
    }

    .main-timeline .date-content:before {
    content: "";
    width: 50%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    }

    .main-timeline .order_1:before {
    content: "";
    width: 50%;
    height: 2px;
    background: #c6c6c6;
    position: absolute;
    padding-right: 30px;
    margin-right: 50% !important;
    }

    .main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    z-index: 1;
    }

    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    right: 0;
    }

    .main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px;
    }

    .main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px;
    }

    .main-timeline .date {
    width: 100%;
    position: absolute;
    top: 27%;
    left: 0;
    }

    @container timeline (max-width: 640px) {
    .timeline {
        flex-direction: column !important;
    }

    .main-timeline:before {
        margin-left: 1px;
    }

    .main-timeline .icon {
        margin: auto 2px;
    }

    .main-timeline .timeline-content {
        padding: 10px 30px;
    }

    .order_1 {
        order: 2;
    }

    .order_2 {
        order: 1;
        left: -1em;
    }

    .order_3 {
        order: 3;
    }

    .order_1b {
        order: 2;
    }

    .order_2b {
        order: 1;
        left: -1em;
    }

    .order_3b {
        order: 3;
    }

    .main-timeline .order_1:before {
        width: 100%;
    }

    .main-timeline .order_1b:before {
        width: 100%;
    }

    .main-timeline .order_1b:before {
        content: "";
        width: 100%;
        height: 2px;
        background: #c6c6c6;
        position: absolute;
        top: 0;
        padding-right: 30px;
        bottom: 0;
        margin-right: 50% !important;
    }
    }

    @container timeline (max-width: 350px) {
    .icon {
        display: none;
    }

    .main-timeline .date-content:before {
        visibility: hidden;
    }

    .date-content {
        left: -15px;
    }
    }

</style>

{% endblock styles %}

{% block content %}

<div id="appFollow">
    <div class="page-title">
        <div class="title_left">
            <h4>Búsqueda de Pacientes</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="d-flex mb-3">
        <div class="col-md-5 pl-0 shadow border border-dark">
            <div class="pl-2 pt-1 pb-1">
                <form class="form-inline" method="GET" @submit.prevent="formSearch">
                    <div class="col-md-4 pl-0">
                        <select class="form-control-sm w-100" name="type" id="type" aria-label="Default select example">
                            <option value="1">Niño</option>
                            <option value="2">Gestante</option>
                            <option value="3">Inmunización</option>
                            <option value="4">Niño Anemia</option>
                        </select>
                    </div>
                    <div class="col-md-6 pl-0">
                        <input class="form-control-sm w-100" type="text" name="doc" id="doc" placeholder="Ingrese su dni..." maxlength="8" onkeypress="return event.charCode>=48 && event.charCode<=57">
                    </div>
                    <div class="col-md-2 p-0">
                        <button class="btn btn-dark btn-sm mt-1" id="btn_buscar" type="submit"> Buscar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 offset-md-1">
            <div class="border border-blue row p-3" v-show="viewLinePqt">
                <div class="col-md-4 p-0 text-dark"><b class="text-success">Fecha Nacido: </b>[[ dat_pqt.fec_nac ]]</div>
                <div class="col-md-4 text-dark"><b class="text-info">Padrón Nominal: </b>
                    <template v-if="dat_pqt.pn == 1"> SI</template>
                    <template v-else> NO</template>
                </div>
                <div class="col-md-4 text-dark"><b class="text-danger">Programa: </b>[[ dat_pqt.programa ]]</div>
            </div>
        </div>
    </div>
    <div class="carga text-center"></div>
    <div v-show="viewLineGest">
        <div class="container pt-3">
            <div class="main-timeline">
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/syphilis.png' %}" alt="Bateria"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Bateria</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Bacteruria:</b>
                                <span v-if="dat_gest.bacteruria != null"> [[ dat_gest.bacteruria ]] </span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Sifilis:</b>
                                <span v-if="dat_gest.sifilis != null"> [[ dat_gest.sifilis ]] </span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Tamizaje:</b>
                                <span v-if="dat_gest.tmz != null"> [[ dat_gest.tmz ]] </span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">VIH:</b>
                                <span v-if="dat_gest.vih != null"> [[ dat_gest.vih ]] </span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/anemia.png' %}" alt="anemia"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2"></div>
                    <div class="timeline-content order_3b col-md p-0" style="text-align: end;">
                        <h5 class="title pt-2 font-weight-bold text-dark">Anemia</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Odontología:</b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Tamizaje Anemia:</b>
                                <span v-if="dat_gest.tmz != null"> [[ dat_gest.tmz ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Dx Anemia:</b>
                                <span v-if="dat_gest.visit2 != null"> [[ dat_gest.visit2 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/pregnancy-test.png' %}" alt="primer mes"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Primer Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control:</b>
                                <span v-if="dat_gest.ctrl1 != null"> [[ dat_gest.ctrl1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación:</b>
                                <span v-if="dat_gest.suple1 != null"> [[ dat_gest.suple1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Fecha Probable Parto:</b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Fecha Última Regla:</b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/dos_meses.png' %}" alt="dos meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2"></div>
                    <div class="timeline-content order_3b col-md p-0" style="text-align: end;">
                        <h5 class="title pt-2 font-weight-bold text-dark">Segundo Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control: </b>
                                <span v-if="dat_gest.ctrl2 != null"> [[ dat_gest.ctrl2 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación: </b>
                                <span v-if="dat_gest.suple2 != null"> [[ dat_gest.suple2 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/tres_meses.png' %}" alt="tres meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Tercer Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control:</b>
                                <span v-if="dat_gest.ctrl3 != null"> [[ dat_gest.ctrl3 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación:</b>
                                <span v-if="dat_gest.suple3 != null"> [[ dat_gest.suple3 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/cuatro_meses.png' %}" alt="cuatro meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2"></div>
                    <div class="timeline-content order_3b col-md p-0" style="text-align: end;">
                        <h5 class="title pt-2 font-weight-bold text-dark">Cuarto Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control: </b>
                                <span v-if="dat_gest.ctrl4 != null"> [[ dat_gest.ctrl4 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación: </b>
                                <span v-if="dat_gest.suple4 != null"> [[ dat_gest.suple4 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/cinco_meses.png' %}" alt="cinco meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Quinto Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control:</b>
                                <span v-if="dat_gest.ctrl5 != null"> [[ dat_gest.ctrl5 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación:</b>
                                <span v-if="dat_gest.suple5 != null"> [[ dat_gest.suple5 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/seis_meses.png' %}" alt="seis meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2"></div>
                    <div class="timeline-content order_3b col-md p-0" style="text-align: end;">
                        <h5 class="title pt-2 font-weight-bold text-dark">Sexto Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control: </b>
                                <span v-if="dat_gest.ctrl6 != null"> [[ dat_gest.ctrl6 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación: </b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/siete_meses.png' %}" alt="siete meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Séptimo Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control:</b>
                                <span v-if="dat_gest.ctrl7 != null"> [[ dat_gest.ctrl7 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación:</b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/ocho_meses.png' %}" alt="ocho meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2"></div>
                    <div class="timeline-content order_3b col-md p-0" style="text-align: end;">
                        <h5 class="title pt-2 font-weight-bold text-dark">Octavo Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control: </b>
                                <span v-if="dat_gest.ctrl8 != null"> [[ dat_gest.ctrl8 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación: </b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/nueve_meses.png' %}" alt="nueve meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Noveno Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control:</b>
                                <span v-if="dat_gest.ctrl9 != null"> [[ dat_gest.ctrl9 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación:</b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/diez_meses.png' %}" alt="diez meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2"></div>
                    <div class="timeline-content order_3b col-md p-0" style="text-align: end;">
                        <h5 class="title pt-2 font-weight-bold text-dark">Décimo Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control: </b>
                                <span v-if="dat_gest.ctrl10 != null"> [[ dat_gest.ctrl10 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación: </b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
                <div class="timeline-item d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <div class="date-content order_1b">
                        <div class="date-outer">
                            <span class="date">
                                <p class="year"><img src="{% static 'img/timeline/once_meses.png' %}" alt="once meses"></p>
                            </span>
                        </div>
                    </div>
                    <div class="icon order_2b"></div>
                    <div class="timeline-content order_3b col-md p-0">
                        <h5 class="title pt-2 font-weight-bold text-dark">Onceavo Mes</h5>
                        <p class="description">
                            <p><b style="font-weight: 600;">Control:</b>
                                <span v-if="dat_gest.ctrl11 != null"> [[ dat_gest.ctrl11 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                            <p><b style="font-weight: 600;">Suplementación:</b>
                                <span v-if="dat_gest.visit1 != null"> [[ dat_gest.visit1 ]]</span>
                                <span v-else class="text-danger">Pendiente</span></p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="hr-line mt-4 mb-4"></div><br><br>
    </div>
    <div v-show="viewLinePqt">
        <section class="timeline" id="timelin">
            <div class="arrows" id="arrows">
                <button id="arrow" class="arrow arrow__prev disabled" disabled>
                    <span class="fa fa-chevron-circle-left font-30" disabled></span>
                </button>
                <button id="arrow" class="arrow arrow__next">
                    <span class="fa fa-chevron-circle-right font-30"></span>
                </button>
            </div>
            <ol>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #7f9edc 0%, #95b4dc 35%, #ceddfa 100%);">
                        <div class="col-md-7 pr-0">
                            <time>0 Meses</time>
                            <div><b>1° Cntrl:</b>
                                <span v-if="dat_pqt.ctrl1rn != null"> [[ dat_pqt.ctrl1rn ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>2° Cntrl:</b>
                                <span v-if="dat_pqt.ctrl2rn != null"> [[ dat_pqt.ctrl2rn ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>3° Cntrl:</b>
                                <span v-if="dat_pqt.ctrl3rn != null"> [[ dat_pqt.ctrl3rn ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>4° Cntrl:</b>
                                <span v-if="dat_pqt.ctrl4rn != null"> [[ dat_pqt.ctrl4rn ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center pl-0">
                            <img src="{% static 'img/timeline/crib-toy.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #9ab486 0%, #c8deb7 35%, #e1efd6 100%);">
                        <div class="col-md-7 pr-0">
                            <time>1 - 2 Meses</time>
                            <div><b>1° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred1 != null"> [[ dat_pqt.cred1 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>2° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred2 != null"> [[ dat_pqt.cred2 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Antineumo:</b>
                                <span v-if="dat_pqt.neumo2 != null"> [[ dat_pqt.neumo2 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Rotavirus:</b>
                                <span v-if="dat_pqt.rota2 != null"> [[ dat_pqt.rota2 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Antipolio:</b>
                                <span v-if="dat_pqt.polio2 != null"> [[ dat_pqt.polio2 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Pentavalente:</b>
                                <span v-if="dat_pqt.penta2 != null"> [[ dat_pqt.penta2 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/stroller.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #f2eb91 0%, #ece6a0 35%, #fefaca 100%);">
                        <div class="col-md-8 pr-0">
                            <time>3 - 4 Meses</time>
                            <div><b>3° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred3 != null"> [[ dat_pqt.cred3 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>4° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred4 != null"> [[ dat_pqt.cred4 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Antineumo 2:</b>
                                <span v-if="dat_pqt.neumo4 != null"> [[ dat_pqt.neumo4 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Rotavirus 2:</b>
                                <span v-if="dat_pqt.rota4 != null"> [[ dat_pqt.rota4 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Antipolio 2:</b>
                                <span v-if="dat_pqt.polio4 != null"> [[ dat_pqt.polio4 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Pentavalente 2:</b>
                                <span v-if="dat_pqt.penta4 != null"> [[ dat_pqt.penta4 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 4 Meses:</b>
                                <span v-if="dat_pqt.suple4 != null"> [[ dat_pqt.suple4 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <img src="{% static 'img/timeline/donation.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #e294a2 0%, #f6aab7 35%, #ffcfd8 100%);">
                       <div class="col-md-7 pr-0">
                            <time>5 Meses</time>
                            <div><b>5° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred5 != null"> [[ dat_pqt.cred5 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 5 Meses:</b>
                                <span v-if="dat_pqt.suple5 != null"> [[ dat_pqt.suple5 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                       </div>
                       <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/shampoo.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #bc9b9b 0%, #d5b8b8 35%, #e2d2d2 100%);">
                        <div class="col-md-7 pr-0">
                            <time>6 Meses</time>
                            <div><b>6° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred6 != null"> [[ dat_pqt.cred6 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 6 Meses:</b>
                                <span v-if="dat_pqt.suple6 != null"> [[ dat_pqt.suple6 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Antipolio 3:</b>
                                <span v-if="dat_pqt.polio6 != null"> [[ dat_pqt.polio6 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Pentavalente 3:</b>
                                <span v-if="dat_pqt.penta6 != null"> [[ dat_pqt.penta6 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/crawl.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #9dcdcd 0%, #c6e1e1 35%, #e6f9f9 100%);">
                        <div class="col-md-7 pr-0">
                            <time>7 Meses</time>
                            <div><b>7° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred7 != null"> [[ dat_pqt.cred7 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 7 Meses:</b>
                                <span v-if="dat_pqt.suple7 != null"> [[ dat_pqt.suple7 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/xylophone.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #99849e 0%, #c7b6cb 35%, #dfd1e2 100%);">
                        <div class="col-md-7 pr-0">
                            <time>8 Meses</time>
                            <div><b>8° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred8 != null"> [[ dat_pqt.cred8 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 8 Meses:</b>
                                <span v-if="dat_pqt.suple8 != null"> [[ dat_pqt.suple8 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/bottle.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #976788 0%, #bb93af 35%, #dfb8d3 100%);">
                        <div class="col-md-7 pr-0">
                            <time>9 Meses</time>
                            <div><b>9° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred9 != null"> [[ dat_pqt.cred9 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 9 Meses:</b>
                                <span v-if="dat_pqt.suple9 != null"> [[ dat_pqt.suple9 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/playtime.png' %}" alt="" width="85">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #bb9c81 0%, #e3bc9a 35%, #eacdb4 100%);">
                        <div class="col-md-7 pr-0">
                            <time>10 Meses</time>
                            <div><b>10° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred10 != null"> [[ dat_pqt.cred10 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 10 Meses:</b>
                                <span v-if="dat_pqt.suple10 != null"> [[ dat_pqt.suple10 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/girl.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: linear-gradient(90deg, #c57657 0%, #efb7a2 35%, #fbd0bf 100%);">
                        <div class="col-md-7 pr-0">
                            <time>11 Meses</time>
                            <div><b>11° Cntrl Mes:</b>
                                <span v-if="dat_pqt.cred11 != null"> [[ dat_pqt.cred11 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Suple 11 Meses:</b>
                                <span v-if="dat_pqt.suple11 != null"> [[ dat_pqt.suple11 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/fork.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li></li>
            </ol>
        </section>
    </div>
    <div v-show="viewLineAnemia">
        <section class="timeline2" id="timelin">
            <div class="arrows2" id="arrows">
                <button id="arrow" class="arrow2 arrow__prev2 disabled" disabled>
                    <span class="fa fa-chevron-circle-left font-30" disabled></span>
                </button>
                <button id="arrow" class="arrow2 arrow__next2">
                    <span class="fa fa-chevron-circle-right font-30"></span>
                </button>
            </div>
            <ol>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: #D0D5EA;">
                        <div class="col-md-7 pr-0">
                            <time>6 Meses</time>
                            <div><b>Dosaje:</b>
                                <span v-if="dat_anemia.dosaje1 != null"> [[ dat_anemia.dosaje1 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Resultado:</b>
                                <span v-if="dat_anemia.result1 != null"> [[ dat_anemia.result1 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Dx Anemia:</b>
                                <span v-if="dat_anemia.dx_anemia1 != null"> [[ dat_anemia.dx_anemia1 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Serv. Nutrición:</b>
                                <span v-if="dat_anemia.nutricion6 != null"> [[ dat_anemia.nutricion6 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center p-0">
                            <img src="{% static 'img/timeline/baby_6m.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: #C6C7E2;">
                        <div class="col-md-7 pr-0">
                            <time>7 Meses</time>
                            <div><b>Dx Anemia:</b>
                                <span v-if="dat_anemia.dx_anemia2 != null"> [[ dat_anemia.dx_anemia2 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                            <div><b>Serv. Nutrición:</b>
                                <span v-if="dat_anemia.nutricion7 != null"> [[ dat_anemia.nutricion7 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/baby_7m.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: #B8DAED;">
                        <div class="col-md-7 pr-0">
                            <time>8 Meses</time>
                            <div><b>Serv. Nutrición:</b>
                                <span v-if="dat_anemia.nutricion8 != null"> [[ dat_anemia.nutricion8 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="{% static 'img/timeline/baby_8m.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: #BCC6E0;">
                       <div class="col-md-7 pr-0">
                            <time>9 Meses</time>
                            <div><b>Serv. Nutrición:</b>
                                <span v-if="dat_anemia.nutricion9 != null"> [[ dat_anemia.nutricion9 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                       </div>
                       <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/baby_9m.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: #9EACCC;">
                        <div class="col-md-7 pr-0">
                            <time>10 Meses</time>
                            <div><b>Serv. Nutrición:</b>
                                <span v-if="dat_anemia.nutricion10 != null"> [[ dat_anemia.nutricion10 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/baby_10m.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timelineText d-flex justify-content-center align-items-center" style="background: #ceb2d7;">
                        <div class="col-md-7 pr-0">
                            <time>11 Meses</time>
                            <div><b>Serv. Nutrición:</b>
                                <span v-if="dat_anemia.nutricion11 != null"> [[ dat_anemia.nutricion11 ]] </span>
                                <span v-else class="text-danger">Pendiente</span>
                            </div>
                        </div>
                        <div class="col-md-5 text-center">
                            <img src="{% static 'img/timeline/baby_11m.png' %}" alt="">
                        </div>
                    </div>
                </li>
                <li></li>
            </ol>
        </section>
    </div>
    <div v-show="viewInmunization">
        <div class="row">
            <div class="col-md-1 offset-9 d-flex">
                <div style="background: #d44949; width: 15px; height: 15px; border-radius: 50%;"></div>
                <label class="pl-2">MINSA</label>
            </div>
            <div class="col-md-2 d-flex">
                <div style="background: #465899; width: 15px; height: 15px; border-radius: 50%;"></div>
                <label class="pl-2">ESSALUD</label>
            </div>
        </div>
        <div class="col-12 table-responsive nominalTable p-0" id="tableNominal">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr height="20" style="background: #cbe0fa; font-size: 11px;">
                        <th class="align-middle p-1">#</th>
                        <th class="align-middle p-1">Fecha Atención</th>
                        <th class="align-middle p-1">Nombre EESS</th>
                        <th class="align-middle p-1">Tipo Doc</th>
                        <th class="align-middle p-1">Documento</th>
                        <th class="align-middle p-1">Fecha Nacido</th>
                        <th class="align-middle p-1">Código</th>
                        <th class="align-middle p-1">Valor Lab</th>
                        <th class="align-middle p-1">Descripción</th>
                        <th class="align-middle p-1">Edad</th>
                        <th class="align-middle p-1">Tipo Edad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center font-10" v-for="item, key in dat_inmuno">
                        <td class="align-middle p-1">[[ key+1 ]]</td>
                        <td class="align-middle p-1">[[ item.fields.fec_atencion ]]</td>
                        <template v-if="item.fields.id_eess == 11238 || item.fields.id_eess == 11243 || item.fields.id_eess == 11249 || item.fields.id_eess == 11235 ||
                                        item.fields.id_eess == 11252 || item.fields.id_eess == 11251 || item.fields.id_eess == 11237 || item.fields.id_eess == 11233 ||
                                        item.fields.id_eess == 11250 || item.fields.id_eess == 11234 || item.fields.id_eess == 11231 || item.fields.id_eess == 11240 ||
                                        item.fields.id_eess == 11247">
                            <td class="align-middle p-1 text-left" style="color: #465899;">[[ item.fields.eess ]]</td>
                        </template>
                        <template v-else>
                            <td class="align-middle p-1 text-left" style="color: #d44949;">[[ item.fields.eess ]]</td>
                        </template>
                        <td class="align-middle p-1">[[ item.fields.tipo_doc ]]</td>
                        <td class="align-middle p-1">[[ item.fields.documento ]]</td>
                        <td class="align-middle p-1">[[ item.fields.fec_nac ]]</td>
                        <td class="align-middle p-1">[[ item.fields.codigo ]]</td>
                        <td class="align-middle p-1">[[ item.fields.lab ]]</td>
                        <td class="align-middle p-1 text-left font-9">[[ item.fields.descripcion ]]</td>
                        <td class="align-middle p-1">[[ item.fields.edad ]]</td>
                        <td class="align-middle p-1">[[ item.fields.tipo_edad ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'vue/person.js' %}"></script>
<script src="{% static 'js/person.js' %}"></script>

{% endblock scripts %}