:root {
  font-family: sans-serif;
}
ol {
  margin: 0;
  list-style: none;
  --hue: 1;
  --unit: 1rem;
}
.event-date {
  margin: 0 0 0.25rem;
  font-weight: bold;
}
.event-description {
  margin: 0;
}
.body_li {
  --height: 9rem;
  position: relative;
  display: block;
  border-color: hsl(calc(var(--hue)*360/20),90%,65%);
  padding: 5px;
}
.body_li::before {
  content: "";
  background-color: inherit;
  position: absolute;
  display: block;
  width: var(--unit);
  height: var(--unit);
  top: 100%;
  left: calc(50% - (var(--unit)/2));
}
.body_li::after {
  content: "";
  position: absolute;
  display: block;
  top: calc(100% + var(--unit));
  left: calc(50% - (var(--unit)));
}
.body_li:last-child::before,
.body_li:last-child::after {
  content: none;
}

@media (min-width: 360px) and (max-width: 549px){
  .cp{
      min-height: 1100px;
  }
  .body_li {
      width: calc(60% - 3rem);
      float: left;
  }
  .body_li:nth-child(4n+2){
      top: 20px;
  }
  .body_li:nth-child(4n+3){
      top: 10px;
      right: 140px;
  }
  .body_li:nth-child(4n+4){
      top: -120px;
      left: 140px;
  }
  .body_li:nth-child(4n+5){
      top: 10px;
      right: 140px;
  }
  .body_li:nth-child(4n+9){

  }
  .body_li:nth-child(4n+8){
      position: absolute;
      top: 76%;
      left: 190px;
      width: 30%;
  }
  .body_li:nth-child(4n+7){
      left: 0;
      top: 140px;
  }
  .body_li:nth-child(4n+6){
      position: absolute;
      right: 60px;
      top: 660px;
      width: 30%;
  }
  .body_li:nth-child(4n+10){
      position: absolute;
      left: 190px;
      top: 51%;
      width: 30%;
  }
  .body_li:nth-child(4n+11){
      position: absolute;
      top: 800px;
      left: 40px;
  }
}
@media (min-width: 550px) and (max-width: 899px){
  .body_li {
      width: calc(38% - 4rem);
      float: left;
      min-height: var(--height);
  }
  .body_li:nth-child(4n+2){
      top: 30px;
  }
  .body_li:nth-child(4n+3){
      top: 30px;
  }
  .body_li:nth-child(4n+4){
      top: 60px;
  }
  .body_li:nth-child(4n+5){
      top: 40px;
      right: 0px;
  }
  .body_li:nth-child(4n+9){
      top: 160px;
      right: 220px;
      position: absolute;
  }
  .body_li:nth-child(4n+8){
      top: 160px;
      left: 70px;
      position: absolute;
  }
  .body_li:nth-child(4n+7){
      top: -15px;
      right: 150px;
  }
  .body_li:nth-child(4n+6){
      top: 20px;
      left: 90px;
  }
  .body_li:nth-child(4n+10){
      top: 190px;
      left: 285px;
      position: absolute;
  }
  .body_li:nth-child(4n+11){
      top: 40px;
      right: 50px;
  }
}
@media (min-width: 900px) and (max-width: 1000px){
  .body_li {
      margin: 2px;
      width: calc(30% - 4rem);
      float: left;
      min-height: 7rem;
  }
  .body_li:nth-child(4n+2){
      top: 30px;
  }
  .body_li:nth-child(4n+3){
      top: 30px;
  }
  .body_li:nth-child(4n+4){
      top: 60px;
  }
  .body_li:nth-child(4n+5){
      width: 22%;
      top: 80px;
      right: 0px;
  }
  .body_li:nth-child(4n+9){
      top: 210px;
      right: 170px;
      position: absolute;
  }
  .body_li:nth-child(4n+8){
      top: 180px;
      left: 170px;
      position: absolute;
  }
  .body_li:nth-child(4n+7){
      top: -10px;
      right: 90px;
  }
  .body_li:nth-child(4n+6){
      top: 160px;
      left: 30px;
  }
  .body_li:nth-child(4n+10){
      top: 240px;
      left: 390px;
      position: absolute;
  }
  .body_li:nth-child(4n+11){
      top: 190px;
      right: 60px;
      width: 57%;
  }
  .body_li .textAdult{
      left: 80px;
  }
}
@media (min-width: 1024px) and (max-width: 1100px){
    .right_col{
        min-height: 750px !important;
    }
    .body_li {
        margin: 2px;
        width: calc(36% - 3rem);
        float: left;
        min-height: 7rem;
    }
    .body_li:nth-child(4n+2){
        top: 30px;
    }
    .body_li:nth-child(4n+3){
        top: 30px;
    }
    .body_li:nth-child(4n+4){
        top: 10px;
    }
    .body_li:nth-child(4n+5){
        width: 22%;
        top: 5px;
        right: 0px;
    }
    .body_li:nth-child(4n+9){
        top: 330px;
        right: 360px;
        position: absolute;
    }
    .body_li:nth-child(4n+8){
        top: 320px;
        left: 188px;
        position: absolute;
    }
    .body_li:nth-child(4n+7){
        top: 35px;
        left: 30px;
    }
    .body_li:nth-child(4n+6){
        top: 350px;
        left: -230px;
    }
    .body_li:nth-child(4n+10){
        top: 180px;
        left: 310px;
        position: absolute;
    }
    .body_li:nth-child(4n+11){
        top: 50px;
        left: 130px;
        width: 57%;
    }
    .body_li .textAdult{
        left: 80px;
    }
}
@media (min-width: 1200px){
  .right_col{
      min-height: 580px !important;
  }
  ol {
      max-width: 1600px;
      margin: 0 auto;
  }
  .body_li {
      width: calc(31% - 6rem);
      float: left;
  }
  .body_li.body_li12m{
      width: 25%;
  }
  .body_li.body_liadult{
      width: 38%;
      display: flex;
      align-items: center;
  }
  .body_li:nth-child(8n+1){
  }
  .body_li:nth-child(8n+2){
      top: 30px;
  }
  .body_li:nth-child(8n+3){
      top: 30px;
  }
  .body_li:nth-child(8n+4){
      top: 60px;
  }
  .body_li:nth-child(8n+5){
      top: 110px;
      right: 50px;
  }
  .body_li:nth-child(8n+9){
      top: 50px;
      right: 150px;
  }
  .body_li:nth-child(8n+8){
      top: 10px;
      right: 150px;
  }
  .body_li:nth-child(8n+7){
      top: -10px;
      right: 150px;
  }
  .body_li:nth-child(8n+6){
      top: 180px;
      left: 40px;
  }
  .body_li:nth-child(8n+10){
      top: 20px;
      right: 155px;
  }
  .body_li:nth-child(8n+11){
      top: 60px;
      right: 200px;
  }
}
@media (min-width: 1240px) {
    .right_col{
        min-height: 640px !important;
    }

    .body_li {
        width: calc(30% - 4rem);
        float: left;
    }
    .body_li.body_li12m{
        width: 20%;
    }
    .body_li.body_liadult{
        width: 45%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 100px;
        right: 10px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 135px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 190px;
        right: 0;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 120px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 80px;
    }
}
@media (min-width: 1360px){
    .right_col{
        min-height: 590px !important;
    }
    ol {
        max-width: 1600px;
        margin: 0 auto;
    }
    .body_li {
        /* margin: 1rem; */
        width: calc(31% - 6rem);
        float: left;
        /* min-height: 9rem; */
    }
    .body_li.body_li12m{
        width: 25%;
    }
    .body_li.body_liadult{
        width: 38%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+1){
        /* top: 40px; */
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 50px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 180px;
        left: 40px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 155px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 200px;
    }
}
@media (min-width: 1433px) and (max-width: 1450px){
    .right_col{
        min-height: 590px !important;
    }
    ol {
        max-width: 1600px;
        margin: 0 auto;
    }
    .body_li {
        width: calc(29% - 5rem);
        float: left;
    }
    .body_li.body_li12m{
        width: 19%;
    }
    .body_li.body_liadult{
        width: 32%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+1){
        /* top: 40px; */
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 40px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 155px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}
@media (min-width: 1500px){
    .right_col{
        min-height: 650px !important;
    }
    ol {
        max-width: 1600px;
        margin: 0 auto;
    }
    .body_li {
        /* margin: 1rem; */
        width: calc(30% - 5rem);
        float: left;
        /* min-height: 9rem; */
    }
    .body_li.body_li12m{
        width: 19%;
    }
    .body_li.body_liadult{
        width: 32%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+1){
        /* top: 40px; */
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 40px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 155px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}
@media (min-width: 1590px){
    .right_col{
        min-height: 690px !important;
    }
    ol {
        max-width: 1600px;
        margin: 0 auto;
    }
    .body_li {
        /* margin: 1rem; */
        width: calc(29% - 6rem);
        float: left;
        /* min-height: 9rem; */
    }
    .body_li.body_li12m{
        width: 19%;
    }
    .body_li.body_liadult{
        width: 32%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+1){
        /* top: 40px; */
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 40px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 155px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}
@media (min-width: 1600px){
    .right_col{
        min-height: 670px !important;
    }
    ol {
        max-width: 1600px;
        margin: 0 auto;
    }
    .body_li {
        /* margin: 1rem; */
        width: calc(27% - 5rem);
        float: left;
        /* min-height: 9rem; */
    }
    .body_li.body_li12m{
        width: 19%;
    }
    .body_li.body_liadult{
        width: 32%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+1){
        /* top: 40px; */
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 40px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 155px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}
@media (min-width: 1707px) {
    .right_col{
        min-height: 670px !important;
    }

    .body_li {
        width: calc(30% - 7rem);
        float: left;
    }
    .body_li.body_li12m{
        width: 14%;
    }
    .body_li.body_liadult{
        width: 27%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 65px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 180px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}
@media (min-width: 1820px) {
    .right_col{
        min-height: 720px !important;
    }

    .body_li {
        width: calc(26% - 5rem);
        float: left;
    }
    .body_li.body_li12m{
        width: 14%;
    }
    .body_li.body_liadult{
        width: 27%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 120px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 180px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}
@media (min-width: 2049px) {
    .right_col{
        min-height: 820px !important;
    }

    .body_li {
        width: calc(26% - 6rem);
        float: left;
    }
    .body_li.body_li12m{
        width: 14%;
    }
    .body_li.body_liadult{
        width: 23%;
        display: flex;
        align-items: center;
    }
    .body_li:nth-child(8n+2){
        top: 30px;
    }
    .body_li:nth-child(8n+3){
        top: 30px;
    }
    .body_li:nth-child(8n+4){
        top: 60px;
    }
    .body_li:nth-child(8n+5){
        top: 110px;
        right: 45px;
    }
    .body_li:nth-child(8n+9){
        top: 50px;
        right: 150px;
    }
    .body_li:nth-child(8n+8){
        top: 10px;
        right: 150px;
    }
    .body_li:nth-child(8n+7){
        top: -10px;
        right: 150px;
    }
    .body_li:nth-child(8n+6){
        top: 170px;
        left: 120px;
    }
    .body_li:nth-child(8n+10){
        top: 20px;
        right: 180px;
    }
    .body_li:nth-child(8n+11){
        top: 60px;
        right: 270px;
    }
}

.cube {
  position: relative;
  width: 0px;
  height: 70px;
  transform-style: preserve-3d;
  /* animation: rotate 6s linear infinite; */
  transform: rotateX(345deg) rotateY(45deg);
}

.cube > div {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: -25px;
  background: linear-gradient(to right, #09adc8, #001f4e);
}

.c1 {
  transform: translateZ(100px) translate(0px, -25px);
}

.c2 {
  transform: rotateY(90deg) translateZ(100px);
}

.c3 {
  transform: rotateY(180deg) translateZ(35px) translate(-65px, 0px);
}

.c4 {
  transform: rotateX(90deg) translateZ(40px) translate(50px, 15px);
}

.c5 {
  transform: rotateY(-90deg) translateZ(-30px);
}

.c6 {
  transform: rotateX(-90deg) translateZ(35px) rotate(180deg) translate(-65px, 0px);
}