@keyframes rotate {
	80% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}
@-webkit-keyframes rotate {
	80% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}

li::marker{
	display: none;
}

/* ----- TIMELINE ––––––––––––– */
p {
    margin-bottom: 0 !important;
}

#timelin:before {
    background: white !important;
}

#timelin {
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0 0 20px !important;
    max-width: 1400px;
}

#timelin ol {
    font-size: 0;
    width: 100vw;
    padding: 190px 0;
    transition: all 1s;
}

#timelin ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 5px;
    /* background: #fc4b6c; */
    background: #808080;
}

#timelin ol li:last-child {
    width: 280px;
}

#timelin ol li:not(:first-child) {
    margin-left: 14px;
}

#timelin ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    /* background: #F45B69; */
    background: #223e87;
}

#timelin ol li div.timelineText {
    box-shadow: 5px 10px 8px #888888;
    transform: rotate(-2deg);
    position: absolute;
    left: calc(100% - 130px);
    width: 280px;
    padding: 15px;
    font-size: 11px;
    white-space: normal;
    color: black;
    background: #ebbfbf;
    display: grid;
}

#timelin ol li div.timelineText::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    /* height: 0; */
    border-style: solid;
}

#timelin ol li:nth-child(odd) div.timelineText {
    top: -16px;
    transform: translateY(-100%);
}

#timelin ol li:nth-child(odd) div.timelineText::before {
    top: 100%;
    border-width: 8px 8px 0 8px;
    border-color: #615758 transparent transparent transparent;
    left: 46%;
}

#timelin ol li:nth-child(even) div.timelineText {
    top: calc(100% + 16px);
}

#timelin ol li:nth-child(even) div.timelineText::before {
	top: -8px;
    border-width: 8px 8px 0 8px;
    border-color: #615758  transparent transparent white;
    transform: rotate(180deg);
    left: 47%;
}

#timelin time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#timelin #arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#timelin .disabled {
    opacity: .5;
}

#timelin #arrows #arrow {
    background: white;
    border: none;
    line-height: 0;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  #timelin ol,
  #timelin ol li {
    width: auto;
}

  #timelin ol {
    padding: 0;
    transform: none !important;
  }

  #timelin ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  #timelin ol li:first-child {
    margin-top: 25px;
  }

  #timelin ol li:not(:first-child) {
    margin-left: auto;
  }

  #timelin ol li div.timelineText {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  #timelin ol li div.timelineText {
    position: static;
  }

  #timelin ol li:nth-child(odd) div.timelineText {
    transform: none;
  }

  #timelin ol li:nth-child(odd) div.timelineText::before,
  #timelin ol li:nth-child(even) div.timelineText::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  #timelin ol li:last-child,
  #timelin ol li:nth-last-child(2) div.timelineText::before,
  #timelin ol li:not(:last-child)::after,
	#timelin #arrows {
		display: none;
	}
    .col-md-5{
        padding-right: 30px;
    }
}
