{% extends "base.html" %}
{% load static  %}

{% block title %}
	Dahboard Niño - G
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}

<div id="appDashboard">
    <div class="page-title">
        <div class="col-md-11 mb-2">
            <b class="font-18">Seguimiento paquete niños </b>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 mb-3">
        <div class="col-md-6 p-0">
            <form method="GET" @submit.prevent="formVaccine">
                <div class="col-sm-4 pl-0">
                    <select class="form-control-sm w-100" name="anio" id="anio" v-model="anio">
                        <option value="0" selected>Seleccione Año</option>
                    </select>
                </div>
                <div class="col-sm-4 pl-0">
                    <select class="form-control-sm w-100" name="mes" id="mes" v-model="mes">
                        <option value="0" selected>Seleccione Mes</option>
                    </select>
                </div>
                <div class="col-md-1 pl-0">
                    <button class="btn btn-primary btn-block btn-sm" id="search" type="submit"><i class="fa fa-search"></i> </button>
                </div>
            </form>
        </div>
        <div class="col-md-6 text-right p-0">
            <button type="button" @click="PrintExcel" class="btn btn-success btn-sm"><i class="fa fa-download"></i></button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="x_panel p-2">
            <div class="table-responsive nominalTable" id="tableNominal">
                <table id="demo-foo-addrow" class="table table-hover" data-page-size="20" data-limit-navigation="10">
                    <thead>
                        <tr class="font-10 text-center">
                            <th class="align-middle p-1">#</th>
                            <th class="align-middle p-1">Centro Asistencial</th>
                            <th class="align-middle p-1">Documento</th>
                            <th class="align-middle p-1">Apellidos y Nombres</th>
                            <th class="align-middle p-1">Fecha Nacido</th>
                            <th class="align-middle p-1">Edad</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Cred Hoy</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Suple Hoy</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Neumo Hoy</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Rota Hoy</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Penta Hoy</th>
                            <th class="align-middle p-1" style="background: #C7ECF0 !important;">Polio Hoy</th>
                            <th class="align-middle p-1" style="background: #e8dad7 !important;">Cred Falta</th>
                            <th class="align-middle p-1" style="background: #e8dad7 !important;">Suple Falta</th>
                            <th class="align-middle p-1" style="background: #e8dad7 !important;">Vac Falta</th>
                        </tr>
                    </thead>
                    <div class="float-right col-md-3 p-0">
                        <div class="col-md-12 col-sm-12 form-group has-feedback pr-0">
                            <input id="demo-input-search" class="form-control has-feedback-left" type="search" placeholder="Buscar...">
                            <span class="glyphicon glyphicon-search form-control-feedback left mt-1" aria-hidden="true"></span>
                        </div>
                    </div>
                    <tbody>
                        <tr class="text-center font-9" v-for="item, key in lists">
                            <td class="align-middle p-1">[[ key+1 ]]</td>
                            <td class="align-middle p-1">[[ item.eess ]]</td>
                            <td class="align-middle p-1">[[ item.num_doc]]</td>
                            <td class="align-middle p-1">[[ item.ape_nombres]]</td>
                            <td class="align-middle p-1">[[ item.fech_nac ]]</td>
                            <td class="align-middle p-1">[[ item.edad ]]</td>
                            <td class="align-middle p-1">[[ item.credhoy ]]</td>
                            <td class="align-middle p-1">[[ item.suplehoy ]]</td>
                            <td class="align-middle p-1">[[ item.neumohoy ]]</td>
                            <td class="align-middle p-1">[[ item.rotahoy ]]</td>
                            <td class="align-middle p-1">[[ item.pentahoy ]]</td>
                            <td class="align-middle p-1">[[ item.poliohoy ]]</td>
                            <td class="align-middle p-1">[[ item.credfalta ]]</td>
                            <td class="align-middle p-1">[[ item.suplefalta ]]</td>
                            <td class="align-middle p-1">[[ item.vacfalta ]]</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/vue/dash.js' %}"></script>
<script src="{% static 'js/js/dash.js' %}"></script>

{% endblock scripts %}